@page "/invoices"

<TabControl>
	<TabPage  Text="Invoices">
		<InvoiceList/>
	</TabPage>
	<TabPage Text="Create New Invoice">
		<EditInvoice/> 
	</TabPage>
	<TabPage Text="Settings">
		<div>Settings </div>
	</TabPage>
</TabControl>
 
 